<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>ssl, tls, tls1.3 certificates - lea.kz</title>
  {% include "meta.html" %}
</head>

<body>
  <div class="wrapper">
    {% include "header.html" %}
    <div class="container">
      {% for i in result_list %}
        <div class="row padding-12 upanddown">
          <div class="col-xs-12 col-md-6">
            <ul class="list-unstyled">
              <li>
                <ul class="list-group margin-bottom-0">
                  <li class="list-group-item nightmare">
                    <h3>{{ i['subject']['common_name'] }}</h3>
                  </li>
                  <li class="list-group-item waterfall"><b>CN:</b> {{ i['subject']['common_name'] }}</li>
                  {% if i['subject']['organization'] %}
                  <li class="list-group-item waterfall"><b>Organization:</b> {{ i['subject']['organization'] }}</li>
                  {% endif %}
                  {% if i['subject']['state'] and i['subject']['country_name'] %}
                  <li class="list-group-item waterfall"><b>State:</b> {{ i['subject']['state'] }}, {{ i['subject']['country_name'] }}</li>
                  {% endif %}
                  {% if i['subject']['locality'] %}
                  <li class="list-group-item waterfall"><b>Locality:</b> {{ i['subject']['locality'] }}</li>
                  {% endif %}
                  <li class="list-group-item waterfall"><b>Valid from:</b> {{ i['valid_not_before'] | format_time }}</li>
                  <li class="list-group-item waterfall"><b>Valid  until:</b> {{ i['valid_not_after'] | format_time }}</li>
                  {% if i['subject']['alt_names'] %}
                  <li class="list-group-item waterfall"><b>Alt names:</b> {{ i['subject']['alt_names'] | join(', ') }}</li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
          {% if i['issuer'] %}
          <div class="col-xs-12 col-md-6">
            <ul class="list-unstyled">
              <li>
                <ul class="list-group">
                  <li class="list-group-item nightmare">
                    <h3>Issuer</h3>
                  </li>
                  {% if i['issuer']['common_name'] %}
                  <li class="list-group-item waterfall"><b>CN:</b> {{ i['issuer']['common_name'] }}</li>
                  {% endif %}
                  {% if i['issuer']['organization'] %}
                  <li class="list-group-item waterfall"><b>Organization:</b> {{ i['issuer']['organization'] }}</li>
                  {% endif %}
                  {% if i['issuer']['state'] and i['country_name'] %}
                  <li class="list-group-item waterfall"><b>State:</b> {{ i['issuer']['state'] }}, {{ i['issuer']['country_name'] }}</li>
                  {% endif %}
                  {% if i['issuer']['locality'] %}
                  <li class="list-group-item waterfall"><b>Locality:</b> {{ i['issuer']['locality'] }}</li>
                  {% endif %}
                </ul>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="push"></div>
  </div>
  {% include "footer.html" %}
</body>

</html>
