<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>encrypt md5, sha1, sha224, sha256, sha384, sha512 - lea.kz</title>
  {% include "meta.html" %}
</head>

<body>
  <div class="wrapper">
    {% include "header.html" %}
    <div class="container">
      <div class="row">
        <div class="col-xs-12 upanddown">
          <h2 class="ghost">Encrypt any word or password</h2>
          <form class="input-group input-group-lg" action="/hash/encrypt/search" role="form">
            <label class="sr-only" for="search">Enter search terms</label>
            <input type="text" class="form-control input-lg" name="q" placeholder="word, password or text" autofocus>
            <span class="input-group-btn">
        		<button class="btn btn-default btn-lg" type="submit">Encrypt</button>
      		</span>
          </form>
          <div>
            <small class="claudy">Enter a word to get the md5, sha1, sha224, sha256, sha384, sha512 hash</small>
          </div>
        </div>
        {% include "hash.html" %}
      </div>
    </div>
  </div>
  {% include "footer.html" %}
</body>

</html>
