<footer class="mx-auto container flex justify-between p-3 sm:px-0">
  <div class="sm:w-1/2 sm:w-8/12 text-white">
    <a href="#">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/legal">Legal</a>
  </div>
  <div class="sm:w-1/2 sm:w-4/12">
    <p class="text-gray-800 text-right">All rights reserved</p>
  </div>
</footer>
