<div class="container">
  <div class="cinderella">
    <div class="col-xs-6 col-sm-8">
      <a href="">Terms</a> | <a href="/privacy">Privacy</a> | <a href="/legal">Legal</a>
    </div>
    <div class="col-xs-6 col-sm-4">
      <p class="muted pull-right">All rights reserved</p>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
