<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>lea.kz</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/dracula.css')}}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
</head>

<body>
	<div class="container">
		{% include "header.html" %}
		<div class="row">
			<div class="col-xs-12">
				<ul class="list-unstyled">
					{% for i in hashes %}
					<li>
						<ul class="list-group">
							<li class="list-group-item nightmare">
								<h3>{{ i['password'] }}</h3></li>
							<li class="list-group-item waterfall"><b>md5:</b> {{ i['hash']['md5'] | upper }}</li>
							<li class="list-group-item waterfall"><b>sha224:</b> {{ i['hash']['sha224'] | upper }}</li>
							<li class="list-group-item waterfall"><b>sha256:</b> {{ i['hash']['sha256'] | upper }}</li>
							<li class="list-group-item waterfall"><b>sha384:</b> {{ i['hash']['sha384'] | upper }}</li>
							<li class="list-group-item waterfall"><b>sha512:</b> {{ i['hash']['sha512'] | upper }}</li>
						</ul>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>
