<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>search for md5, sha1, sha224, sha256, sha384, sha512 - lea.kz</title>
	{% include "meta.html" %}
</head>

<body>
	<div class="container wrapper">
		{% include "header.html" %}
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<h2 class="ghost">Reverse search for any hash</h2>
				<form class="input-group input-group-lg" action="/hash/decrypt/search" role="form">
					<input type="text" class="form-control input-lg" name="q" placeholder="md5, sha1, sha224, sha256, sha384, sha512">
					<span class="input-group-btn">
        		<button class="btn btn-default btn-lg" type="submit">Search</button>
      		</span>
				</form>
				<div>
					<small class="claudy">Hint: our database contains more than 2 billion pre-compiled hash values</small>
				</div>
			</div>
		</div>
	</div>
	{% include "footer.html" %}
</body>

</html>
