<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>latest submitted hash values - hashcrack.me</title>
	{% include "meta.html" %}
</head>

<body>
	<div class="wrapper">
		{% include "header.html" %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2 class="ghost">Latest pre compiled hashes</h2>
				</div>
				{% include "result.html" %}
				{% include "pagination.html" %}
			</div>
		</div>
		<div class="push"></div>
	</div>
	{% include "footer.html" %}
</body>

</html>
