{% if result_list %}
<ul class="flex mb-4">
  <li><a class="bg-gray-300 text-gray-900 rounded text-xs px-3 py-2 mr-1" href="{{ url }}?skip={{ first_entry }}&limit=10">&laquo;</a></li>
  {% for entry in entries %}
  <li><a class="bg-gray-300 text-gray-900 rounded text-xs p-2 mr-1" href="{{ url }}?skip={{ entry }}&limit=10">{{ entry }}</a></li>
  {% endfor %}
  <li><a class="bg-gray-300 text-gray-900 rounded text-xs px-3 py-2" href="{{ url }}?skip={{ last_entry }}&limit=10">&raquo;</a></li>
</ul>
{% endif %}
