html, body {
  height: 100%;
}

body {
  background-color: #2a9bba;
}

a {
  color: #fff;
}

a:hover, a:focus, a:active {
  color: #fff;
}

li {
  word-break: break-all;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -36px;
}

.footer, .push {
  height: 36px;
}

.claudy {
  color: #efefef;
}

.nightmare {
  background-color: #535A62;
  color: #fff;
}

.upanddown {
  margin-bottom: 36px;
}

.ghost {
  color: #fff;
  margin-bottom: 15px;
}

.cinderella {
  margin-left: 0;
  margin-right: 0;
  margin-top: 21px;
}

.waterfall {
  font-family: monospace;
}

.wonderworld {
  color: #fff;
  margin-top: 15px;
  display: block;
}

a.wonderworld:hover {
  color: #fff;
  text-decoration: none;
}

.waterfall:nth-child(odd) {
  background-color: #fcfcfc;
}

.waterfall:nth-child(even) {
  background-color: #efefef;
}

.container-fluid>.row>.navbar-header {
  margin-right: 36px;
}

.navbar-nav {
  font-size: 15px;
  margin-top: 26px;
  margin-bottom: 10px;
  margin-left: 36px;
}

.navbar-default {
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

.navbar-nav > li > a {
  line-height: 0;
}

.navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:active {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
}

.navbar-default .navbar-nav>.active>a {
  background-color: transparent;
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus {
  border: 0;
  outline: 0;
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #efefef;
}

.navbar-right {
  margin-right: -29px;
  margin-top: 15px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-b {
  display: flex;
  align-items: top;
  justify-content: left;
}

.badman {
  width: 50px;
  height: 50px;
}

.form-inline .form-control.cowboy {
  font-size: 18px;
  width: 500px;
  height: 50px;
}

.blackbird {
  background-color: #ff0075;
  color: #fff;
}

@media (max-width: 767px) {
  .container-fluid>.row>.navbar-header {
    margin-right: 0;
  }
  .form-inline .form-control.cowboy {
    width: auto;
  }
  .navbar-nav {
    margin-left: 0;
  }
  .navbar-toggle {
    margin-right: 0;
    margin-top: 15px;
    background-color: #ddd;
  }
  margin-left: -12px;
  .cinderella {
    margin-right: -12px;
  }
  .wonderworld {
    margin-top: 15px;
  }
}
