html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #3492fc;
  background-image: url('../triangles.svg');
  background-attachment: fixed;
  background-size: cover;
}

a {
  color: #fff;
}

.list-group-item a {
  color: #333;
}

a:hover, a:focus, a:active {
  color: #fff;
}

.list-group-item a:hover, .list-group-item a:focus, .list-group-item a:active {
  color: #222;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -36px;
}

.footer, .push {
  height: 36px;
}

.breakme {
  word-break: break-all;
}

.claudy {
  color: #efefef;
}

.nightmare {
  background-color: #535A62;
  color: #fff;
}

.upanddown {
  margin-bottom: 36px;
}

.pushmedown {
  margin-bottom: 15px;
}

.ghost {
  color: #fff;
  margin-bottom: 15px;
}

.cinderella {
  margin-left: 0;
  margin-right: 0;
  margin-top: 21px;
}

.waterfall {
  font-family: monospace;
}

.wonderworld {
  color: #fff;
  margin-top: 15px;
  display: block;
}

a.wonderworld:hover {
  color: #fff;
  text-decoration: none;
}

.waterfall:nth-child(odd) {
  background-color: #fcfcfc;
}

.waterfall:nth-child(even) {
  background-color: #efefef;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container-b {
  display: flex;
  align-items: top;
  justify-content: left;
}

.badman {
  width: 50px;
  height: 50px;
}

.form-inline .form-control.cowboy {
  font-size: 18px;
  width: 500px;
  height: 50px;
}

.blackbird {
  background-color: #ff0075;
  color: #fff;
}

.table {
  margin-bottom: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border: 0;
}

.navbar-brand.h1 {
  font-size: 29px;
  margin: 0;
}

.navbar-default .navbar-collapse, .navbar-default {
  border-color: #283e4a;
}

.navbar-default {
  background-color: #283e4a;
}

.navbar-default .navbar-brand, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: #43687c;
}

.navbar-default .navbar-toggle {
  background-color: #ddd;
}

.navbar-nav>li>a {
  padding-top: 21px;
  padding-bottom: 9px;
}

@media (max-width: 767px) {
  .form-inline .form-control.cowboy {
    width: auto;
  }
  .navbar-brand.h1 {
    font-size: 24px;
  }
  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .cinderella {
    margin-right: -12px;
  }
  .wonderworld {
    margin-top: 15px;
  }
  .ghost {
    margin-top: 0;
  }
  .upanddown {
    margin-bottom: 15px;
  }
}
